* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(43deg,
            #f3f200 0,
            #ffe400 8.33%,
            #ffd300 16.67%,
            #ffc000 25%,
            #ffab00 33.33%,
            #ff9413 41.67%,
            #f37b1f 50%,
            #e26426 58.33%,
            #d24f2c 66.67%,
            #c43d31 75%,
            #b82e36 83.33%,
            #ad213c 91.67%,
            #a51742 100%);

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estlização do circulo do releogio*/
.clock {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
}

/*Declaração da var que rota os numbers*/
.clock .number {
    --rotation: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.8rem;
    font-weight: 500;
    padding: 15px;
}

/* posicionamento dos number*/
.clock .number.number-1 {
    --rotation: 30deg;
}

.clock .number.number-2 {
    --rotation: 60deg;
}

.clock .number.number-3 {
    --rotation: 90deg;
}

.clock .number.number-4 {
    --rotation: 120deg;
}

.clock .number.number-5 {
    --rotation: 150deg;
}

.clock .number.number-6 {
    --rotation: 180deg;
}

.clock .number.number-7 {
    --rotation: 210deg;
}

.clock .number.number-8 {
    --rotation: 240deg;
}

.clock .number.number-9 {
    --rotation: 270deg;
}

.clock .number.number-10 {
    --rotation: 300deg;
}

.clock .number.number-11 {
    --rotation: 330deg;
}

/*ponteiros*/
.clock .hand {
    --rotation:0;

    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    transform-origin: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.clock .hand.second{
    width: 3px;
    height: 40%;
    background-color: #a51742;
}
.clock .hand.minutes{
    width: 5px;
    height: 35%;
    background-color: #e26426;
}
.clock .hand.hours{
    width: 7px;
    height: 25%;
    background-color: black;
}